.SliderContainer__category{
    width: 90%;
    margin: 1rem auto;
}
.cardCateg__top img{
    width: 50%;
    margin: 0 auto;
    border-radius: 5rem;
}
.cardCateg{
    width: 100%!important;
    border-radius: 2rem;
    background-color: white;
    border: 1px solid #597A76;
}

.cardCateg__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.cardCateg__top p {
    color : #3b504d;
    font-weight: bold;
}